/* Font */

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-Bold.eot');
    src: local('AmpleSoftPro-Bold'),
        url('../font/AmpleSoftPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-Bold.woff2') format('woff2'),
        url('../font/AmpleSoftPro-Bold.woff') format('woff'),
        url('../font/AmpleSoftPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-Medium.eot');
    src: local('AmpleSoftPro-Medium'),
        url('../font/AmpleSoftPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-Medium.woff2') format('woff2'),
        url('../font/AmpleSoftPro-Medium.woff') format('woff'),
        url('../font/AmpleSoftPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-Light.eot');
    src: local('AmpleSoftPro-Light'),
        url('../font/AmpleSoftPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-Light.woff2') format('woff2'),
        url('../font/AmpleSoftPro-Light.woff') format('woff'),
        url('../font/AmpleSoftPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-Thin.eot');
    src: local('AmpleSoftPro-Thin'),
        url('../font/AmpleSoftPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-Thin.woff2') format('woff2'),
        url('../font/AmpleSoftPro-Thin.woff') format('woff'),
        url('../font/AmpleSoftPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-ExtraLight.eot');
    src: local('AmpleSoftPro-ExtraLight'),
        url('../font/AmpleSoftPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-ExtraLight.woff2') format('woff2'),
        url('../font/AmpleSoftPro-ExtraLight.woff') format('woff'),
        url('../font/AmpleSoftPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft Pro';
    src: url('../font/AmpleSoftPro-Regular.eot');
    src: local('AmpleSoftPro-Regular'),
        url('../font/AmpleSoftPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/AmpleSoftPro-Regular.woff2') format('woff2'),
        url('../font/AmpleSoftPro-Regular.woff') format('woff'),
        url('../font/AmpleSoftPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "AmpleSoft Pro";
}

@media (max-width: 768px) { 
    .container {
        max-width: 576px;
        height: 20000px;
    }
    
    .box_layout {
        box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    }
    
    .header_section {
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        border-radius: 0 0 12px 12px;
        position: relative;
        padding: 0 20px;
        z-index: 2;
    }

    .logo_header img {
        display: none;
    }
    
    .logo_header .logo_name {
        font-family: "AmpleSoft Pro";
        margin-top: -10px;
    }
    
    .logo_header .logo_name span {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        margin: 12px 0 0 10px;
        letter-spacing: 1px;
        line-height: 17px;
    }
    
    .logo_header .logo_name .inner_name {
        font-size: 12px;
        color: #71B9AD;
        margin: 0;
    }

    .nav_menu_header_mobile {
        display: flex;
        width: 25%;
    }

    .nav_menu_header_mobile li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .nav_menu_header_mobile li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .nav_menu_header_mobile li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .nav_menu_header_mobile li span {
        margin-left: 6px;
        align-items: center;
        height: auto;
    }
    
    .nav_menu_header_mobile li span img {
        width: 25px;
        margin-top: -2px;
        transition: all 0.3s !important;
        cursor: pointer;
    }

    .nav_menu_header_mobile li img {
        cursor: pointer;
    }
    
    .nav_menu_header_mobile .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .nav_menu_header_mobile li hr {
        width: 2px;
        height: 25px;
        background-color: #F4F4F9;
    }

    .menu_header_mobile {
        display: flex;
        top: 0px !important;
        position: absolute !important;
        left: -300px;
        width: 200px !important;
        height: 432px;
        background-color: #fff !important;
        overflow: hidden;
        z-index: 5;
    }

    .menu_header_mobile .container_menu_header_mobile {
        z-index: 5;
        position: absolute;
        width: 5000px !important;
        height: 432px;
        display: flex;
    }

    .menu_header_mobile ul {
        list-style: none;
        padding: 0;
        width: 200px;
        text-transform: uppercase;
    }

    .menu_header_mobile ul li {
        padding: 6% 9% 0 9%;
        font-family: "AmpleSoft Pro";
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #868686;
        cursor: pointer;
    }

    .menu_header_mobile ul li:hover {
        font-size: 14px;
        color: #71B9AD !important;
        transition: all 0.3s;
    }

    .menu_header_mobile ul .close_section i {
        font-size: 20px;
        color: #868686;
        float: left;
        margin-top: -4px !important;
        margin-right: 4px !important;
    }

    .menu_header_mobile ul .back_section i {
        font-size: 11px;
        color: #868686;
        float: left;
        margin-top: 3px !important;
        margin-right: 4px !important;
    }

    .menu_header_mobile ul .option_nav {
        font-weight: 400 !important;
        text-transform: capitalize;
    }

    .menu_header_mobile ul li i {
        color: #868686;
        float: right;
    }

    .menu_header_mobile ul li:hover i {
        color: #71B9AD !important;
        transition: all 0.3s;
    }

    .menu_header_mobile ul .close_section {
        background-color: #f7f7fb;
        padding: 6% 9% 6% 9%;
        vertical-align: middle;
    }

    .menu_header_mobile ul .back_section {
        background-color: #f7f7fb;
        padding: 6% 9% 6% 9%;
        vertical-align: middle;
    }

    .close-area {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        background-color: rgba(0, 0, 0, 0.55) !important;
        height: 432px !important;
        width: 100%;
        z-index: 3;
        display: none;
    }
    
    .menu_header {
        width: 65%;
        display: none;
    }
    
    .menu_header li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .menu_header li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .menu_header li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .menu_header li span {
        margin-left: 6px;
        align-items: center;
        height: auto;
    }
    
    .menu_header li span img {
        width: 15px;
        margin-top: -2px;
        transition: all 0.3s !important;
    }
    
    .chevron-rotate {
        transform: rotate(180deg) !important;
        transition: all 0.3s !important;
    }
    
    .menu_header .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .menu_header li hr {
        width: 2px;
        height: 25px;
        background-color: #F4F4F9;
    }
    
    .list-active {
        font-weight: bold !important;
        color: #71B9AD !important;
    }
    
    .dropbar-header {
        background-color: white; 
        border-radius: 0 0 10px 10px; 
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 20%);
        position: relative;
        top: 0;
        display: none;
        justify-content: space-between;
        padding-left: 35%;
        padding-right: 12%;
        padding-bottom: 2%;
        z-index: 1;
        width: 100%;
    }
    
    .side-content-dropbar {
        margin-top: 40px;
    }
    
    .dropbar-header .title-side-content {
        font-family: "AmpleSoft Pro";
        font-weight: 500;
        font-size: 16px;
        color: #464646; 
    }
    
    .dropbar-header hr {
        height: 3px;
        width: 70px;
        background-color: #F4F4F9;
        border: 0; 
        margin-bottom: 11px;
    }
    
    .dropbar-header li {
        list-style-type:none;
        text-align: center;
        margin-bottom: 11px;
        
        font-family: "AmpleSoft Pro";
        font-weight: 300;
        font-size: 14px;
        color: #464646;     
    }
}

@media (min-width: 768px) { 
    .container {
        max-width: 1545px;
        height: 20000px;
    }
    
    .box_layout {
        box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    }
    
    .header_section {
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        border-radius: 0 0 12px 12px;
        position: relative;
        padding: 14px 2% 14px 2%;
        z-index: 2;
    }
    
    .logo_header .logo_name {
        font-family: "AmpleSoft Pro";
    }
    
    .logo_header .logo_name span {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        margin: 12px 0 0 10px;
        letter-spacing: 1px;
        line-height: 17px;
    }
    
    .logo_header .logo_name .inner_name {
        font-size: 12px;
        color: #71B9AD;
        margin: 0;
    }

    .nav_menu_header_mobile {
        display: flex;
        width: 25%;
    }

    .nav_menu_header_mobile li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .nav_menu_header_mobile li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .nav_menu_header_mobile .login-section a::before {
        content: 'Log in';
    }

    .nav_menu_header_mobile li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .nav_menu_header_mobile li span {
        margin-left: 6px;
        align-items: center;
        height: auto;
    }
    
    .nav_menu_header_mobile li span img {
        width: 25px;
        margin-top: -2px;
        transition: all 0.3s !important;
        cursor: pointer;
    }

    .nav_menu_header_mobile li img {
        cursor: pointer;
    }
    
    .nav_menu_header_mobile .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .nav_menu_header_mobile li hr {
        width: 2px;
        height: 25px;
        background-color: #F4F4F9;
    }

    .menu_header_mobile {
        display: flex;
        top: 0px !important;
        position: absolute !important;
        left: -300px;
        width: 200px !important;
        height: 432px;
        background-color: #fff !important;
        overflow: hidden;
        z-index: 5;
    }

    .menu_header_mobile .container_menu_header_mobile {
        z-index: 5;
        position: absolute;
        width: 5000px !important;
        height: 432px;
        display: flex;
    }

    .menu_header_mobile ul {
        list-style: none;
        padding: 0;
        width: 200px;
        text-transform: uppercase;
    }

    .menu_header_mobile ul li {
        padding: 6% 9% 0 9%;
        font-family: "AmpleSoft Pro";
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #868686;
        cursor: pointer;
    }

    .menu_header_mobile ul li:hover {
        font-size: 14px;
        color: #71B9AD !important;
        transition: all 0.3s;
    }

    .menu_header_mobile ul .close_section i {
        font-size: 20px;
        color: #868686;
        float: left;
        margin-top: -4px !important;
        margin-right: 4px !important;
    }

    .menu_header_mobile ul .back_section i {
        font-size: 11px;
        color: #868686;
        float: left;
        margin-top: 3px !important;
        margin-right: 4px !important;
    }

    .menu_header_mobile ul .option_nav {
        font-weight: 400 !important;
        text-transform: capitalize;
    }

    .menu_header_mobile ul li i {
        color: #868686;
        float: right;
    }

    .menu_header_mobile ul li:hover i {
        color: #71B9AD !important;
        transition: all 0.3s;
    }

    .menu_header_mobile ul .close_section {
        background-color: #f7f7fb;
        padding: 6% 9% 6% 9%;
        vertical-align: middle;
    }

    .menu_header_mobile ul .back_section {
        background-color: #f7f7fb;
        padding: 6% 9% 6% 9%;
        vertical-align: middle;
    }

    .close-area {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        background-color: rgba(0, 0, 0, 0.55) !important;
        height: 432px !important;
        width: 100%;
        z-index: 2;
        display: none;
    }
    
    .menu_header {
        width: 65%;
        display: none;
    }
    
    .menu_header li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .menu_header li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .menu_header li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .menu_header li span {
        margin-left: 6px;
        align-items: center;
        height: auto;
    }
    
    .menu_header li span img {
        width: 15px;
        margin-top: -2px;
        transition: all 0.3s !important;
    }
    
    .chevron-rotate {
        transform: rotate(180deg) !important;
        transition: all 0.3s !important;
    }
    
    .menu_header .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .menu_header li hr {
        width: 2px;
        height: 25px;
        background-color: #F4F4F9;
    }
    
    .list-active {
        font-weight: bold !important;
        color: #71B9AD !important;
    }
    
    .dropbar-header {
        background-color: white; 
        border-radius: 0 0 10px 10px; 
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 20%);
        position: relative;
        top: 0;
        display: none;
        justify-content: space-between;
        padding-left: 35%;
        padding-right: 12%;
        padding-bottom: 2%;
        z-index: 1;
        width: 100%;
    }
    
    .side-content-dropbar {
        margin-top: 40px;
    }
    
    .dropbar-header .title-side-content {
        font-family: "AmpleSoft Pro";
        font-weight: 500;
        font-size: 16px;
        color: #464646; 
    }
    
    .dropbar-header hr {
        height: 3px;
        width: 70px;
        background-color: #F4F4F9;
        border: 0; 
        margin-bottom: 11px;
    }
    
    .dropbar-header li {
        list-style-type:none;
        text-align: center;
        margin-bottom: 11px;
        
        font-family: "AmpleSoft Pro";
        font-weight: 300;
        font-size: 14px;
        color: #464646;     
    }
}

@media (min-width: 992px) { 
    .container {
        max-width: 1545px;
        height: 20000px;
    }
    
    .box_layout {
        box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    }
    
    .header_section {
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        border-radius: 0 0 12px 12px;
        position: relative;
        padding: 14px 2% 14px 2%;
        z-index: 2;
    }
    
    .logo_header .logo_name {
        font-family: "AmpleSoft Pro";
    }
    
    .logo_header .logo_name span {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        margin: 12px 0 0 10px;
        letter-spacing: 1px;
        line-height: 17px;
    }
    
    .logo_header .logo_name .inner_name {
        font-size: 12px;
        color: #71B9AD;
        margin: 0;
    }

    .nav_menu_header_mobile {
        display: none;
    }

    .menu_header_mobile {
        display: none;
    }
    
    .menu_header {
        width: 65%;
        display: flex;
    }
    
    .menu_header li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .menu_header li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .menu_header li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .menu_header li span {
        margin-left: 6px;
        align-items: center;
        height: auto;
    }
    
    .menu_header li span img {
        width: 15px;
        margin-top: -2px;
        transition: all 0.3s !important;
    }
    
    .chevron-rotate {
        transform: rotate(180deg) !important;
        transition: all 0.3s !important;
    }
    
    .menu_header .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .menu_header li hr {
        width: 2px;
        height: 25px;
        background-color: #F4F4F9;
    }
    
    .list-active {
        font-weight: bold !important;
        color: #71B9AD !important;
    }
    
    .dropbar-header {
        background-color: white; 
        border-radius: 0 0 10px 10px; 
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 20%);
        position: relative;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 35%;
        padding-right: 12%;
        padding-bottom: 2%;
        z-index: 1;
        width: 100%;
    }
    
    .side-content-dropbar {
        margin-top: 40px;
    }
    
    .dropbar-header .title-side-content {
        font-family: "AmpleSoft Pro";
        font-weight: 500;
        font-size: 16px;
        color: #464646; 
    }
    
    .dropbar-header hr {
        height: 3px;
        width: 70px;
        background-color: #F4F4F9;
        border: 0; 
        margin-bottom: 11px;
    }
    
    .dropbar-header li {
        list-style-type:none;
        text-align: center;
        margin-bottom: 11px;
        
        font-family: "AmpleSoft Pro";
        font-weight: 300;
        font-size: 14px;
        color: #464646;     
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1545px;
        height: 20000px;
    }
    
    .box_layout {
        box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    }
    
    .header_section {
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        border-radius: 0 0 12px 12px;
        position: relative;
        padding: 14px 5% 14px 5%;
        z-index: 2;
    }
    
    .logo_header .logo_name {
        font-family: "AmpleSoft Pro";
    }
    
    .logo_header .logo_name span {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        margin: 12px 0 0 10px;
        letter-spacing: 1px;
        line-height: 17px;
    }
    
    .logo_header .logo_name .inner_name {
        font-size: 12px;
        color: #71B9AD;
        margin: 0;
    }

    .nav_menu_header_mobile {
        display: none;
    }

    .menu_header_mobile {
        display: none;
    }
    
    .menu_header {
        width: 60%;
        display: flex;
    }
    
    .menu_header li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    
    .menu_header li a {
        font-family: "AmpleSoft Pro";
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .menu_header li a:hover {
        font-weight: bold;
        color: #71B9AD;
    }
    
    .menu_header li span {
        margin-left: 15px;
        align-items: center;
        height: auto;
    }
    
    .menu_header li span img {
        width: 15px;
        margin-top: -2px;
        transition: all 0.3s !important;
    }
    
    .chevron-rotate {
        transform: rotate(180deg) !important;
        transition: all 0.3s !important;
    }
    
    .menu_header .login-section span img {
        width: 20px;
        margin-top: -2px;
    }
    
    .menu_header li hr {
        width: 3px;
        height: 25px;
        background-color: #F4F4F9;
        color: #F4F4F9;
    }
    
    .list-active {
        font-weight: bold !important;
        color: #71B9AD !important;
    }
    
    .dropbar-header {
        background-color: white; 
        border-radius: 0 0 10px 10px; 
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 20%);
        position: relative;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 35%;
        padding-right: 12%;
        padding-bottom: 2%;
        z-index: 1;
        width: 100%;
    }
    
    .side-content-dropbar {
        margin-top: 40px;
    }
    
    .dropbar-header .title-side-content {
        font-family: "AmpleSoft Pro";
        font-weight: 500;
        font-size: 16px;
        color: #464646; 
    }
    
    .dropbar-header hr {
        height: 3px;
        width: 70px;
        background-color: #F4F4F9;
        border: 0; 
        margin-bottom: 11px;
    }
    
    .dropbar-header li {
        list-style-type:none;
        text-align: center;
        margin-bottom: 11px;
        
        font-family: "AmpleSoft Pro";
        font-weight: 300;
        font-size: 14px;
        color: #464646;     
    }
}
